* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.3;
  padding-block: 2rem;
}

a {
  display: block;
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
  color: currentColor;
  border-bottom: 1px solid currentColor;

  &:hover {
    color: rgb(100 100 200);
  }
}

span {
  font-size: 2rem;
  display: block;
  margin-bottom: 1rem;
  border-bottom: 1px solid currentColor;
  width: fit-content;
}

h1:not([class]) {
  color: rgb(200 100 100);
  background-color: rgb(200 100 100 / .3);
  margin-bottom: .8rem;
  padding: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 6px;
}

h2:not([class]) {
  color: rgb(100 200 100);
  margin-bottom: .2rem;
}

p {
  color: rgb(80 80 80);
  max-width: 60ch;
  margin-bottom: .5rem;
}

/* Content */
.view-css {
  margin-top: .6rem;
}

#secondary {
  opacity: .6;
}

/* Utility classess */
.wrapper {
  --width: 1100px;
  --padding: 2rem;

  width: min(var(--width), 100% - var(--padding) * 2);
  margin-inline: auto;
}
