* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.3;
  padding-block: 2rem;
  font-family: 'system-ui', 'Arial', 'Times New Roman', 'Helvetica', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  display: block;
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
  color: currentColor;
  border-bottom: 1px solid currentColor;
  font-weight: 500;
  font-size: .9rem;

  &:hover {
    color: rgb(100 100 200);
  }
}

footer a {
  text-transform: uppercase;
}

span:not([class]) {
  font-size: 2rem;
  display: block;
  margin-bottom: 1rem;
  width: fit-content;
}

h1:not([class]) {
  color: rgb(200 100 100);
  background-color: rgb(200 100 100 / .3);
  margin-bottom: .8rem;
  padding: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 6px;
}

h2:not([class]) {
  color: rgb(100 200 100);
  margin-bottom: .2rem;
}

input {
  border: none;
  outline: none;
}

p {
  color: rgb(80 80 80);
  max-width: 60ch;
  margin-bottom: .5rem;
}

/* Content */
.view-css {
  margin-top: .6rem;
}

.form {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.form label {
  display: grid;
  align-items: center;
  grid-template-columns: 95px 200px;
}

[type] {
  --accent: rgb(100 100 200);

  border: 2px solid var(--accent);
  padding: .4rem;
  border-radius: 6px;
}

[type='password'] {
  --accent: rgb(200 100 100);
}

#secondary {
  opacity: .6;
}

a.test {
  text-transform: capitalize;
}

/* Utility classess */
.wrapper {
  --width: 1100px;
  --padding: 2rem;

  width: min(var(--width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.flow>*+* {
  margin-top: var(--flow-space, .7rem);
}
